/* You can add global styles to this file, and also import other style files */

body{
  margin: 0px;
}

.content{
  display:flex;
}

app-menu{
  width: 200px;
}
/* Overwrite bootstrap styles*/
ul.nav a:hover, ul.nav a:focus {
  border-radius: 0px 10px 10px 0px;
  margin: 1px;
}

.jumbotron {
  margin-top: 5px;
  padding-top: 20px;
  padding-bottom: 30px;
}


control-messages div {
  color: #E82C0C;
  margin: 6px 0;
}
.error {
  color: #E82C0C;
  margin: 6px 0;
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

form.ng-invalid {
	border-left: none;
}

.required:after
{ content:" *";
  color:red;
}

div.ng-invalid {
	border-left: none;
}

.form-horizontal .control-label{
  text-align: left;
}